body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

section {
  margin: 0 120px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

header div {
  margin-left: auto;
  font-size: 20px;
}


